<?xml version="1.0" encoding="ISO-8859-1" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
		  http://www.springframework.org/schema/jee 
  		  http://www.springframework.org/schema/jee/spring-jee.xsd">


	<jee:jndi-lookup id="dataSource" jndi-name="java:DefaultDS" />

	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
	    <property name="velocityProperties">
	        <props>
	            <prop key="resource.loader">class</prop>
	            <prop key="class.resource.loader.class">org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader</prop>
	        </props>
	    </property>
	</bean>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="localhost"/>
    </bean>
    
    <!-- this is a template message that we can pre-load with default state -->
    <bean id="templateRegistrationMessage" class="org.springframework.mail.SimpleMailMessage" >
    	<property name="from" value="SPoE Registration &lt;registration@morgajel.com&gt;"/>
        <property name="subject" value="Activate your account"/>
    </bean>
</beans>
