<?xml version="1.0" encoding="ISO-8859-1" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
		  http://www.springframework.org/schema/jee 
  		  http://www.springframework.org/schema/jee/spring-jee.xsd">


	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/MySQL_DataSource" />

	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="resourceLoaderPath" value="/WEB-INF/templates/"/>        
	</bean>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="localhost"/>
    </bean>
    
    <!-- this is a template message that we can pre-load with default state -->
    <bean id="templateEmailMessage" class="org.springframework.mail.SimpleMailMessage" />
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename">
            <value>WEB-INF/messages</value>
        </property>
    </bean>

</beans>
