$firstname, 

Welcome to SPoE! Your account is almost ready to use- all that's left is to click this activation link:

$url

and you're set.

If you have any questions, do not hesitate to contact us at spoe@morgajel.com.

-SPoE Team