$firstname, 

Some claiming to be you has requested a password reset. If it wasn't you, 
ignore this message. If it was, follow this link to reset your password:

$url

and you're set.

If you have any questions, do not hesitate to contact us at spoe@morgajel.com.

-SPoE Team