<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework">
        <level value="WARN"/>
       </logger>
    <logger name="com.morgajel.spoe">
        <level value="DEBUG"/>
    </logger>

</log4j:configuration>
