@CHARSET "UTF-8";

body {
    background-color:#92CCC5;
    margin-left:auto;
    margin-right:auto;
    width:900px;
    text-align: center;
}
#header{
    height:100px;
    vertical-align:middle;
    
}
#footer{
    text-decoration:none;
    margin-top:10px;
    width:900px;
    text-align:right;
}

#content,#header {
    font: 0.9em/1.3em verdana, sans-serif;
    text-align:left;
    background-color:#b5e8b0; 
    border: 1px solid black;
    width:900px;
    margin-left:auto;
    margin-right:auto;
    z-index: 2;
}

#logo{
    vertical-align:middle;
    padding-left:10px;
}
#searchform{
    float:right;
    margin-top:5px;
    margin-right:5px;
}

#loginbox{
float:right;
height:100px;
margin-right:10px;
}
#loginbox a{
    color:blue;
    weight:bold;
    text-decoration:none;
    font-size: 12px;
}
#loginbox a:hover{
    color:#999999;
    text-decoration:underline;

}

#search_box{
    width:125px;
    color:gray;
}
#search_button {
    width:65px;
}



/*--------snippet list------------------*/

.snippetList {
    display:inline-block;
    border: 1px solid #000;
    width:425px;
    background:#37882e; 
    padding: 5px;
    margin-left:5px;
}
.snippetlist .pagebanner { font-size: 10px; padding-left:25px;}
.snippetlist .pagelinks { font-size: 10px;}

.snippetlist h2 {
    margin-top:3px;
    margin-bottom:5px;
    font-size:20px;
}

.snippetList table{
     
    border-collapse:collapse;
    font-size: 12px;
    border: 1px solid #000;
    width:425px;
}
.snippetList table th { 
    background:#0d5f19 url(/images/header_bkg.png) repeat-x scroll center left; 
    color:#fff; 
    text-align: left;
    padding: 5px;
}
.snippetList table td { 
    background:#b5e8b0 url(/images/row_bkg.png) repeat-x scroll center left; 
    padding: 5px;
    border: 1px solid #000;
}

.snippetList table td.id {
    width:40px;
    text-align:right;
}
.message {
    margin-left:5px;
}

.editAccountSection {
    display:inline-block;
    width:375px;
    border:1px solid black;
    margin:5px;
    padding-left:10px;
}
.editAccountSection label {
    font-size: 12px;
}
.editAccountSection td {
    text-align:right;
    border:0px solid black;
    height:27px;
}
.editAccountSection h2{
    margin-top:5px;
    font-size:20px;
}

.snippet {
    width: 850px;
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px;
    border:1px solid black;
    background:#37882e;
}
.snippet h1 {
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
}
.snippet div.user, .review div.user {
    margin:5px;
    display:inline-block;
    font-size:12px;
}
.snippet div.lastModified, .review div.lastModified {
    float:right;
    display:inline-block;
    margin:5px;
    font-size:12px;
}
.snippet div.snippetContent {
    padding:15px;
    background:#0d5f19;
}

.snippet div.reviewers {
    display:inline-block;
    float:right;
    border: 1px solid #000;
    width:155px;
    background:#37882e; 
    padding: 5px;
    margin-left:5px;    
}

.snippet div.reviewers .pagebanner { font-size: 10px; padding-left:25px;}
.snippet div.reviewers .pagelinks { font-size: 10px;}

.snippet div.reviewers h2 {
    margin-top:3px;
    width:150px;
    margin-bottom:5px;
    font-size:20px;
}

.snippet div.reviewers table {
    width:100%;
    border-collapse:collapse;
    font-size: 12px;
    border: 1px solid #000;
    
}
.snippet div.reviewers table th { 
    background:#0d5f19 url(/images/header_bkg.png) repeat-x scroll center left; 
    color:#fff; 
    text-align: left;
    padding: 5px;
}
.snippet div.reviewers table td { 
    background:#b5e8b0 url(/images/row_bkg.png) repeat-x scroll center left; 
    padding: 5px;
    border: 1px solid #000;
}

.snippet div.reviewers table td.id {
    width:40px;
    text-align:right;
}
