@CHARSET "UTF-8";

body {
    background-color:#92CCC5;
    margin-left:auto;
    margin-right:auto;
    width:900px;
    text-align: center;
}
#header{
    height:100px;
    vertical-align:middle;
    
}
#footer{
    text-decoration:none;
    margin-top:10px;
    width:900px;
    text-align:right;
}

#content,#header {
    font: 0.9em/1.3em verdana, sans-serif;
    text-align:left;
    background-color:#b5e8b0; 
    border: 1px solid black;
    width:900px;
    margin-left:auto;
    margin-right:auto;
    z-index: 2;
}

#logo{
    vertical-align:middle;
    padding-left:10px;
}
#searchform{
    float:right;
    margin-top:5px;
    margin-right:5px;
}

#loginbox{
float:right;
height:100px;
}

#search_box{
    width:125px;
    color:gray;
}
#search_button {
    width:65px;
}





