@CHARSET "UTF-8";


#top-navigation a {
    background: url(/images/menu-top.png) left top no-repeat;
}
#top-navigation a:hover {
    background: url(/images/menu-top-hover.png) left top no-repeat;    
}
#bottom-navigation a {
    background: url(/images/menu-bottom.png) left top no-repeat;
}
#bottom-navigation a:hover {
    background: url(/images/menu-bottom-hover.png) left top no-repeat;    
}

#top-navigation a, #bottom-navigation a {
    color: #000;
    text-decoration: none;
    padding-left: 10px
}
#top-navigation a:hover, #bottom-navigation a:hover {
    padding-left: 10px
}

#top-navigation span{
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#bottom-navigation span{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#top-navigation  a span , #bottom-navigation a span {
    background: #ffce87;
    padding-right: 10px;
}

#top-navigation a, #bottom-navigation a, #top-navigation a span, #bottom-navigation a span {
    display: block;
    float: left;
}


#top-navigation  a:hover span, #bottom-navigation a:hover span {
    background:#ffa740;
    padding-right: 10px           
}

#top-navigation, #bottom-navigation {
    list-style: none; 
    padding: 0;
    margin: 0
}

#top-navigation li, #bottom-navigation li {
    float: left;
    margin: 0;
} 
